@import "/public/css/variables.module.scss";

.productBoard {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  > section {
    display: block;
    width: 100%;
  }

  > h1 {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 16px 0;
    color: $black_17;
  }

  .shortDesc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: "Raleway", "Helvetica", sans-serif;
  }

  .category {
    display: block;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    color: $black_17;
    > a {
      font-size: 14px;
      font-weight: 400;
      color: $black_12;
      &:hover {
        color: $blue_03;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 480px) {
  .productBoard {
    > h1 {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }
}

@media (max-width: 320px) {
  .productBoard {
    > h1 {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}
