@import "/public/css/variables.module.scss";

.taskList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  >button {
    color: nth($color-light, 7);
    display: inline-block;
    font-size: 1.4rem;
    transition: background-color 0.3s;
    padding: 4px 16px;
    border-radius: 12px;
    background-color: $black_02;
    border: 1px solid $black_08;
    border-width: 1px;

    &:hover {
      background-color: nth($color-light, 2);
    }
  }

  .active {
    color: white;
    cursor: default;
    font-weight: 500;
    background-color: nth($color-light, 9);

    &:hover {
      background-color: nth($color-light, 9);
    }
  }
}