@import "/public/css/variables.module.scss";
.wraperBanner {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .imageBanner {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  .bannerText {
    margin-top: 24px;
    line-height: 24px;
    font-weight: 600;
    font-size: 2rem;
    color: $primary;
  }
}

@media (max-width: 768px) {
  .wraperBanner {
    .imageBanner {
      width: 100%;
      height: 400px;
    }
    .bannerText {
      margin-top: 0;
    }
  }
}
