@import "/public/css/variables.module.scss";
.wraperBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  .imageBanner {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 897/600;
  }
  .bannerText {
    margin-top: 24px;
    line-height: 24px;
    font-weight: 400;
    font-size: 2rem;
    color: $primary;
    text-decoration: underline;
  }
}
@media (max-width: 1024px) {
  .wraperBanner {
    width: 100%;
    padding: 0 16px;

    .bannerText {
      margin-top: 0;
    }
  }
}
@media (max-width: 768px) {
  .wraperBanner {
    padding: 0 16px;

    .bannerText {
      margin-top: 0;
    }
  }
}
