$color-light: #f6f6f6, #ebebeb, #d9d9d9, #c4c4c4, #a7a7a7, #8f8f8f, #737373,
  #5c5c5c, #414141, #343434;

$color-green: #007351, #008f65, #169c74, #1bb286, #22c393, #75d7c6, #c4eee7,
  #e6fef7, #f0fffa;

$color-blue: #264573, #27559b, #2863bd, #2573e9, #3385ff, #5596f6, #92bdfc,
  #b9d5fe, #d6e7ff;

$color-red: #7e0707, #a11212, #b21919, #c32222, #e12828, #eb4141, #ff6464,
  #ffa5a5, #ffcdcd;

$anim-easeOut: cubic-bezier(0, 0.68, 0.31, 1);

$black_01: #ffffff;
$black_02: #f9f9f9;
$black_03: #f0f0f0;
$black_04: #e8e8e8;
$black_05: #e5e5e5;
$black_06: #d8d8d8;
$black_07: #cccccc;
$black_08: #c6c6c6;
$black_09: #b9b9b9;
$black_10: #a0a0a0;
$black_11: #878787;
$black_12: #727272;
$black_13: #646464;
$black_14: #565656;
$black_15: #484848;
$black_16: #404040;
$black_17: #303233;
$black_18: #242424;
$black_19: #18191a;
$black_20: #000000;
$pink_01: #bc2678;
$pink_02: #d42a87;
$pink_03: #eb2f96;
$pink_04: #ed43a0;
$pink_05: #ef59ab;
$pink_06: #f382c0;
$pink_07: #f7acd5;
$pink_08: #fbd5ea;
$pink_09: #fdeaf4;
$pink_10: #fef4fa;
$pink_11: #fef8fc;
$violet_01: #7822c0;
$violet_02: #8726d8;
$violet_03: #962af0;
$violet_04: #a03ff1;
$violet_05: #ab55f3;
$violet_06: #c07ff6;
$violet_07: #d5aaf9;
$violet_08: #ead4fc;
$violet_09: #f4e9fd;
$violet_10: #faf4fe;
$violet_11: #fcf8fe;
$indigo_01: #3e3ccc;
$indigo_02: #4644e6;
$indigo_03: #4e4bff;
$indigo_04: #5f5dff;
$indigo_05: #716fff;
$indigo_06: #9593ff;
$indigo_07: #b8b7ff;
$indigo_08: #dcdbff;
$indigo_09: #ededff;
$indigo_10: #f6f6ff;
$indigo_11: #f9f9ff;
$blue_01: #0062cc;
$blue_02: #006ee6;
$blue_03: #007aff;
$blue_04: #1987ff;
$blue_05: #3395ff;
$blue_06: #66afff;
$blue_07: #99caff;
$blue_08: #cce4ff;
$blue_09: #e5f1ff;
$blue_10: #f2f8ff;
$blue_11: #f7fbff;
$mint_01: #0f9b9b;
$mint_02: #11afaf;
$mint_03: #13c2c2;
$mint_04: #2ac8c8;
$mint_05: #42cece;
$mint_06: #71dada;
$mint_07: #a1e7e7;
$mint_08: #d0f3f3;
$mint_09: #e7f8f8;
$mint_10: #f3fcfc;
$mint_11: #f8fdfd;
$green_01: #2a9f47;
$green_02: #2fb350;
$green_03: #34c759;
$green_04: #48cc69;
$green_05: #5dd27a;
$green_06: #85dd9b;
$green_07: #aee9bd;
$green_08: #d6f4de;
$green_09: #eaf9ee;
$green_10: #f5fcf6;
$green_11: #f9fdfa;
$lime_01: #80ae0e;
$lime_02: #90c30f;
$lime_03: #a0d911;
$lime_04: #a9dc28;
$lime_05: #b3e141;
$lime_06: #c6e870;
$lime_07: #d9f0a0;
$lime_08: #ecf7cf;
$lime_09: #f5fbe7;
$lime_10: #fafdf3;
$lime_11: #fcfef8;
$yellow_01: #cca300;
$yellow_02: #e6b800;
$yellow_03: #ffcc00;
$yellow_04: #ffd119;
$yellow_05: #ffd633;
$yellow_06: #ffe066;
$yellow_07: #ffeb99;
$yellow_08: #fff5cc;
$yellow_09: #fff9e5;
$yellow_10: #fffcf2;
$yellow_11: #fffdf7;
$gold_01: #c87012;
$gold_02: #e17e14;
$gold_03: #fa8c16;
$gold_04: #fa972d;
$gold_05: #fba345;
$gold_06: #fcba73;
$gold_07: #fdd1a2;
$gold_08: #fee8d0;
$gold_09: #fef3e7;
$gold_10: #fff9f3;
$gold_11: #fefbf8;
$orange_01: #c84316;
$orange_02: #e14c19;
$orange_03: #fa541c;
$orange_04: #fa6532;
$orange_05: #fb7649;
$orange_06: #fc9877;
$orange_07: #fdbba4;
$orange_08: #feddd2;
$orange_09: #feede8;
$orange_10: #fff6f3;
$orange_11: #fefaf8;
$red_01: #c41b24;
$red_02: #dd1f29;
$red_03: #f5222d;
$red_04: #f63842;
$red_05: #f74e57;
$red_06: #f97a81;
$red_07: #fba7ab;
$red_08: #fdd3d5;
$red_09: #fee8ea;
$red_10: #fef4f4;
$red_11: #fef8f8;
$transparent: #00000030;
$white: #ffffff;
$primary: #ca41bc;
$secondary: #fdeaf4;
$text_title: #61549e;

:export {
  transparent: $transparent;
  white: $white;
  primary: $primary;
  secondary: $secondary;
  text_title: $text_title;
  black_01: $black_01;
  black_02: $black_02;
  black_03: $black_03;
  black_04: $black_04;
  black_05: $black_05;
  black_06: $black_06;
  black_07: $black_07;
  black_08: $black_08;
  black_09: $black_09;
  black_10: $black_10;
  black_11: $black_11;
  black_12: $black_12;
  black_13: $black_13;
  black_14: $black_14;
  black_15: $black_15;
  black_16: $black_16;
  black_17: $black_17;
  black_18: $black_18;
  black_19: $black_19;
  black_20: $black_20;
  pink_01: $pink_01;
  pink_02: $pink_02;
  pink_03: $pink_03;
  pink_04: $pink_04;
  pink_05: $pink_05;
  pink_06: $pink_06;
  pink_07: $pink_07;
  pink_08: $pink_08;
  pink_09: $pink_09;
  pink_10: $pink_10;
  pink_11: $pink_11;
  violet_01: $violet_01;
  violet_02: $violet_02;
  violet_03: $violet_03;
  violet_04: $violet_04;
  violet_05: $violet_05;
  violet_06: $violet_06;
  violet_07: $violet_07;
  violet_08: $violet_08;
  violet_09: $violet_09;
  violet_10: $violet_10;
  violet_11: $violet_11;
  indigo_01: $indigo_01;
  indigo_02: $indigo_02;
  indigo_03: $indigo_03;
  indigo_04: $indigo_04;
  indigo_05: $indigo_05;
  indigo_06: $indigo_06;
  indigo_07: $indigo_07;
  indigo_08: $indigo_08;
  indigo_09: $indigo_09;
  indigo_10: $indigo_10;
  indigo_11: $indigo_11;
  blue_01: $blue_01;
  blue_02: $blue_02;
  blue_03: $blue_03;
  blue_04: $blue_04;
  blue_05: $blue_05;
  blue_06: $blue_06;
  blue_07: $blue_07;
  blue_08: $blue_08;
  blue_09: $blue_09;
  blue_10: $blue_10;
  blue_11: $blue_11;
  mint_01: $mint_01;
  mint_02: $mint_02;
  mint_03: $mint_03;
  mint_04: $mint_04;
  mint_05: $mint_05;
  mint_06: $mint_06;
  mint_07: $mint_07;
  mint_08: $mint_08;
  mint_09: $mint_09;
  mint_10: $mint_10;
  mint_11: $mint_11;
  green_01: $green_01;
  green_02: $green_02;
  green_03: $green_03;
  green_04: $green_04;
  green_05: $green_05;
  green_06: $green_06;
  green_07: $green_07;
  green_08: $green_08;
  green_09: $green_09;
  green_10: $green_10;
  green_11: $green_11;
  lime_01: $lime_01;
  lime_02: $lime_02;
  lime_03: $lime_03;
  lime_04: $lime_04;
  lime_05: $lime_05;
  lime_06: $lime_06;
  lime_07: $lime_07;
  lime_08: $lime_08;
  lime_09: $lime_09;
  lime_10: $lime_10;
  lime_11: $lime_11;
  yellow_01: $yellow_01;
  yellow_02: $yellow_02;
  yellow_03: $yellow_03;
  yellow_04: $yellow_04;
  yellow_05: $yellow_05;
  yellow_06: $yellow_06;
  yellow_07: $yellow_07;
  yellow_08: $yellow_08;
  yellow_09: $yellow_09;
  yellow_10: $yellow_10;
  yellow_11: $yellow_11;
  gold_01: $gold_01;
  gold_02: $gold_02;
  gold_03: $gold_03;
  gold_04: $gold_04;
  gold_05: $gold_05;
  gold_06: $gold_06;
  gold_07: $gold_07;
  gold_08: $gold_08;
  gold_09: $gold_09;
  gold_10: $gold_10;
  gold_11: $gold_11;
  orange_01: $orange_01;
  orange_02: $orange_02;
  orange_03: $orange_03;
  orange_04: $orange_04;
  orange_05: $orange_05;
  orange_06: $orange_06;
  orange_07: $orange_07;
  orange_08: $orange_08;
  orange_09: $orange_09;
  orange_10: $orange_10;
  orange_11: $orange_11;
  red_01: $red_01;
  red_02: $red_02;
  red_03: $red_03;
  red_04: $red_04;
  red_05: $red_05;
  red_06: $red_06;
  red_07: $red_07;
  red_08: $red_08;
  red_09: $red_09;
  red_10: $red_10;
  red_11: $red_11;
}
