@import "/public/css/variables.module.scss";

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  cursor: default;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;

  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, 0.6);
    cursor: pointer;
  }

  .screenWindow {
    position: absolute;
    right: -400px;
    top: 0px;
    bottom: 0px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
    transition: all 0.5s $anim-easeOut;

    .header {
      width: auto;
      padding: 12px 0;
      margin: 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid nth($color-light, 4);

      > div {
        svg {
          width: auto;
          border-radius: 8px;
          padding: 12px;
          cursor: pointer;
          border: 1px solid white;
          transition: all 0.3s;

          &:hover {
            border-color: nth($color-light, 3);
          }

          &:active {
            background-color: nth($color-light, 1);
            border-color: nth($color-light, 5);
          }
        }
      }
    }

    .itemsContainer {
      height: 100%;
      overflow-y: auto;

      .itemMenu {
        padding: 0px 16px;

        .itemSubMenu {
          position: relative;
          display: flex;
          align-items: center;
          margin: 16px 0;

          a {
            color: $primary;
            font-size: 18px;
            line-height: 1.7em;
            transition: color 0.3s ease;
            font-weight: 400;
            letter-spacing: 0px;

            &:hover {
              color: $pink_05;
              cursor: pointer;
            }
          }

          .arrow {
            margin-left: 5px;
            transition: transform 0.3s ease;
          }

          .active .arrow {
            transform: rotate(180deg);
          }
        }
        .subMenu {
          max-height: 280px;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-left: 16px;
          div {
            white-space: nowrap;
            padding: 0;
            a {
              color: $primary;
              font-size: 18px;
              &:hover {
                color: $pink_05;
              }
            }
          }
        }
      }
    }
  }

  .showWindow {
    right: 0;
  }
}

.containerHide {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 480px) {
  .container {
    .background {
      background-color: rgba(#000000, 0.3);
    }

    .screenWindow {
      background-color: rgba(#fff, 0.96);
      backdrop-filter: blur(8px);
      width: 70vw;

      .header {
        padding: 8px 0;
      }

      .itemsContainer {
        margin: 0 10px;
        width: 100%;
      }
    }
  }
}
