@import "/public/css/variables.module.scss";

.homePage {
  width: 100%;
  background-color: $white;

  .heroContainer {
    display: flex;
    width: 100%;
    margin-top: 95px;
  }

  .thumbnailContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .reviewContainer {
    margin: 80px 0;
    padding: 24px;
    background-color: $pink_09;
    h2 {
      font-size: 1.9rem;
      font-weight: 700;
      color: $black_12;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .homePage {
    .thumbnailContainer {
      height: auto;
      flex-direction: column;
    }
    .reviewContainer {
      padding: 12px 0;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}
