@import "/public/css/variables.module.scss";

.homePage {
  width: 100%;
  background-color: $white;

  .heroContainer {
    display: flex;
    width: 100%;
    margin-top: 100px;
  }

  .thumbnailContainer {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    .wraperBanner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }
}
@media (max-width: 768px) {
  .thumbnailContainer {
    height: auto;
    flex-direction: column;
    .wraperBanner {
      padding: 0 16px;
      > img {
        width: 700px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 480px) {
  .thumbnailContainer {
    .wraperBanner {
      > img {
        width: 400px;
        height: 300px;
        object-fit: contain;
      }
    }
  }
}
@media (max-width: 380px) {
  .thumbnailContainer {
    .wraperBanner {
      > img {
        width: 350px;
        height: 300px;
        object-fit: contain;
      }
    }
  }
}
