@import "/public/css/variables.module.scss";

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  flex-direction: column;
  border-bottom: 1px solid $black_06;
  z-index: 9;
  width: 100%;
  transition: all 0.6s;

  .top {
    align-items: center;
    justify-content: space-between;

    a {
      display: inline-block;
      max-width: 100%;
      line-height: 0;

      .logo {
        opacity: 1;
        object-fit: cover;
      }
    }
  }



  section {
    width: 100%;
  }

  >section:nth-child(1) {
    padding: 16px 0;
    border-bottom: 1px solid $black_06;
  }

  .left {
    display: flex;
    height: 100%;

    hr {
      height: 16px;
      margin-top: 10px;
      border-left: 1px solid $black_06;
    }
  }

  .right {
    .deal {
      gap: 8px;
      margin-right: 16px;
      // color: nth($color-red, 3);
    }
  }

  .rightButtons {
    display: none;
  }



  .ribbon {
    height: 50px;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    user-select: none;
  }
}

.hideNavbar {
  top: -180px;
}

@media (max-width: 1280px) {
  .navbar {
    .ribbon {
      padding: 8px 24px;
    }
  }
}

@media (max-width: 1024px) {
  .ribbon {
    .left {
      .topCategories {
        display: none;
      }

      hr {
        display: none;
      }
    }
  }


}

@media (max-width: 768px) {
  .navbar {
    .top {
      a {
        .logo {
          width: 120px !important;
          height: inherit !important;
          object-fit: contain;
        }
      }
    }

    .ribbon {
      padding: 8px 16px;
    }

    .rightButtons {

      >img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        margin-right: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    >section:nth-child(1) {
      padding: 12px 0;
    }

    .search {
      display: none;
    }

    .rightButtons {
      display: inline-block;

      >img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        margin-right: 16px;
      }
    }

    .ribbon {
      padding: 8px 8px;

      .right {
        .pcConfig {
          display: none;
        }
      }
    }
  }
}