@import "/public/css/variables.module.scss";

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: $white;
  flex-direction: column;
  border-bottom: 1px solid $black_06;
  z-index: 9;
  width: 100%;
  transition: all 0.6s;
  box-shadow: 0 2px 4px rgba(black, 0.2);

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    padding: 16px;
    margin: 0 auto;

    a {
      display: inline-block;
      max-width: 100%;
      line-height: 0;

      .logo {
        opacity: 1;
        object-fit: cover;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        display: flex;
        align-items: center;

        a {
          color: $primary;
          font-size: 16px;
          line-height: 1.7em;
          transition: color 0.3s ease;
          font-weight: 500;
          letter-spacing: 0px;

          &:hover {
            color: $pink_05;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .iconArrow {
          margin-left: 5px;
        }

        .subMenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: $white;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          padding: 10px 0;

          li {
            padding: 5px 15px;
            white-space: nowrap;

            a {
              color: $primary;
              font-size: 14px;

              &:hover {
                color: $pink_05;
              }
            }
          }
        }

        &:hover .subMenu {
          display: block;
        }
      }
    }

    .iconMenu {
      display: none;
    }
  }

  section {
    width: 100%;
  }
}

.hideNavbar {
  top: -180px;
}

@media (max-width: 1024px) {
  .navbar {
    .top {
      padding: 24px;
    }
  }
}
@media (max-width: 480px) {
  .navbar {
    .top {
      padding: 16px;

      ul {
        display: none;
      }

      .iconMenu {
        display: block;
      }
    }
  }
}
@media (max-width: 320px) {
  .navbar {
    .top {
      padding: 0;
    }
  }
}
