@import "/public/css/variables.module.scss";

.container {

    >h4 {
        font-family: inherit !important;
        color: $black_17;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        text-transform: capitalize;
        margin: 12px 0;
    }

    >.wrapperButton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px 0;
    }
}