@import "/public/css/variables.module.scss";

.container {
    height: auto;

    .wrapperContainer {
        margin: 20px 0;

        .headerBanner {
            display: inline-flex;
            align-items: center;

            >button {
                margin-left: 20px
            }
        }

        .title {
            margin: 20px 0px;

            >h2 {
                width: 100%;
                font-size: 2.5rem;
                font-weight: 500;
                color: nth($color-light, 10);
            }
        }

        .cardsWrapper {
            display: flex;
            gap: 14px;
            width: 100%;
            height: auto;
            padding: 12px 0px;
        }
    }
}