@import "/public/css/variables.module.scss";

.container {
  width: 100%;
  height: auto;
  margin-top: 90px;
  margin-bottom: 140px;

  .containerContent {
    width: 1200px;
    display: flex;
    margin: 50px auto;
    padding: 0 48px;
    flex-direction: column;
  }
  .containerBlog {
    display: flex;
    flex-direction: column;
    > h2 {
      font-size: 24px;
      font-weight: 700;
      color: $primary;
      margin-bottom: 20px;
    }
  }
  .loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .container {
    margin-top: 90px;
    .containerContent {
      width: 100%;
      margin: 20px auto;
      padding: 16px 24px;
    }
  }
}
