@import "/public/css/variables.module.scss";

.adminProducts {
  display: flex;
  flex-direction: column;
  height: auto;

  >.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
  }
}