@import "/public/css/variables.module.scss";

.brands {
  height: auto;

  >.addingSection {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 60%;
    margin-top: 35px;
  }

  >.brandsList {
    margin-top: 40px;
    font-size: 1.4rem;
    color: nth($color-light, 8);

    >.list {
      display: flex;
      flex-direction: column;

      >.listItem {
        background-color: $white !important;

        &:hover {
          background-color: nth($color-light, 1);
        }

        >.buttonsWrapper {
          display: flex !important;
          gap: 16px !important;
        }
      }
    }

  }

  .loading {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .deleteMsg {
    text-align: center;
    padding: 12px 0 24px;
  }

  .editSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;

    >div {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    >span {
      width: 100%;
      display: inline-block;
      // overflow-wrap: break-word;
      color: nth($color-red, 5);
      font-family: inherit;
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagePreview {
    max-width: 160px;
    max-height: 150px;
  }
}