@import "/public/css/variables.module.scss";

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf") format(".ttf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format(".ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.ttf") format(".ttf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format(".ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Black.ttf") format(".ttf");
  font-weight: 500;
  font-style: normal;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #797979;
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-custom), "Helvetica", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.storeContainer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 48px;
}

.flexCol {
  flex-direction: column;
}

.noScroll {
  overflow: hidden;
}
.slick-slide {
  padding: 0 15px;
  height: inherit !important;
  & > div {
    height: 100% !important;
  }
}

.slick-track {
  display: flex !important;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none;
}

.ck-content {
  font-family: var(--font-custom), "Helvetica", sans-serif;
}

.ck-content .table table {
  border: none !important;
}

.ck-content table {
  border-collapse: collapse;
  border: none;
}

.ck-content table td,
.ck-content table th {
  border: none !important;
}

@media (min-width: 1440px) {
  .storeContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
  }
}

@media (max-width: 1280px) {
  .storeContainer {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .storeContainer {
    padding: 0 24px;
  }
  .slick-slide {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .storeContainer {
    padding: 0 16px;
  }
  .slick-slide {
    padding: 0 12px;
  }
}

// overide nprogress css
#nprogress {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
}

#nprogress .bar {
  height: 100%;
  background-color: $pink_06;
  box-shadow: 0 0 2.5px $pink_06;
}

#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px $pink_06, 0 0 5px $pink_06;
}
