@import "/public/css/variables.module.scss";

:root {
  font-size: 0.625rem;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #797979;
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.storeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 48px;
}

.flexCol {
  flex-direction: column;
}

.noScroll {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .storeContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
  }
}

@media (max-width: 1280px) {
  .storeContainer {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .storeContainer {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .storeContainer {
    padding: 0 16px;
  }
}