@import "/public/css/variables.module.scss";

.container {
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    height: 100vh;
    overflow: hidden;

    .header {
        padding: 8px
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;

        .wrapper {
            padding: 24px;
            background-color: $white;
            border-radius: 12px;
            width: 500px;

            >span {
                font-size: 18px;
                font-weight: bold;
            }

            .text_forget_password {
                color: $blue_04;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }


}

@media (max-width: 768px) {
    .container {
        height: 80vh;
        overflow: hidden;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login {
        height: unset;
        padding: 0 24px;
    }
}