@import "/public/css/variables.module.scss";

.wideAd {
  position: relative;
  height: 200px;
  flex-grow: 1;
  // font-size: 1.6rem;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  border-radius: 4px;

  img {
    z-index: 1;
    position: absolute;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .wideAd {
    margin: 0;
  }
}
