.blogCardContainer {
    display: flex;
    gap: 16px;;
}

.loading {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}


@media (width: 1024px) {
    .blogCardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blogCardContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .blogCardContainer {
        flex-direction: column;
        align-items: center;
    }
}