@import "/public/css/variables.module.scss";

.container {
  width: 100%;
  height: auto;
  background-color: $white;
  margin-top: 100px;

  .faq {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
